/* Root Styles */
html,body {
  font-size: 16px;
  font-family: Roboto, Helvetica, serif;

}

.site_container {
  width: 80%;
  margin: auto;
}

/* Top Bar Section  */
.header-top_bar_section {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  overflow: hidden;
  border: 1px solid red;
}

.header-top_bar_section-logo_section {
  height: 2rem;
  display: flex;
  align-items: center;
}

#header-top_bar_section-colmar_academy_text-colmar_span {
  font-weight: bold;
}

#header-top_bar_section-colmar_academy_text-academy_span {
  font-weight: 300;
  color: grey;
}

.header-top_bar_section-navigation_section-desktop_navigation ul {
  display: flex;
}
.header-top_bar_section-navigation_section-desktop_navigation li {
  margin-left: 1rem;
  font-size: 1rem;
}

.header-banner_section {
  padding: 2rem 0 2rem 1.5rem;
  background-color: lightgrey;
  display: flex;

  border: 1px solid green;
}

.header-banner_section-image_container {
  width: 60%;
  border: 1px solid yellow;
}

.header-banner_section-image_container img {
  width: 100%;
}

.header-banner_section-engage_section {
  width: 40%;
  margin-left: 1.5rem;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header-banner_section-engage_section-container {
  width: 90%;
  border: 1px solid magenta;
}

.header-banner_section-engage_section h1{
  font-size: 3.5rem;
  font-weight: bold;
}

.header-banner_section-engage_section p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.header-banner_section-engage_section-button {
  padding: 0.5rem 0;
  text-align: center;
  background-color: black;
  color: white;
}

.header-banner_section-engage_section-button a {
  font-size: 1.5rem;
  color: white;
  height: 100%;
  border: 1px solid red;
}

/* Body Styling */

main {
  border: 1px solid blue;
}

.body_container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
}

.body_container-left_section {
  width: 60%;
  margin-right: 1.5rem;
  border: 1px solid red;
}

.body_container-left_section-image_container {
}

.body_container-left_section-image_container img {
  width: 100%;
  border: 1px solid red;
}

.body_container-left_section-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.body_container-left_section-text p {
  font-weight: 300;
}
.body_container-left_section-text span {
  display: inline-block;
  margin: 2rem 0;
}

/* Body Right Section */
.body_container-right_section {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.body_container-right_section-info_container {
  display: flex;
  padding: 1rem;
  height: 25%;
}

.body_container-right_section-info_container:hover {
  background-color: lightgrey;
}
.body_container-right_section-info_container-image1 {
  width: 35%;
  margin-right: 1rem;
  height: auto;
  background-image: url("../images/information-orientation.jpg");
  background-size: cover;
}

.body_container-right_section-info_container-image2 {
  width: 35%;
  margin-right: 1rem;
  height: auto;
  background-image: url("../images/information-campus.jpg");
  background-size: cover;
}

.body_container-right_section-info_container-image3 {
  width: 35%;
  margin-right: 1rem;
  height: auto;
  background-image: url("../images/information-guest-lecture.jpg");
  background-size: cover;
}

.body_container-right_section-info_container-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body_container-right_section-info_container-text h3 {
  font-size: 1.3rem;
}

.body_container-right_section-info_container-text p {
  margin: 0.5rem 0;
  font-weight: 300;
}

.body_container-right_section-info_container-text a {
  color: dodgerblue;
}

/* Learning Section */

.learning_container {
  background-color: lightgrey;
  padding-top: 2rem;
}

.learning_container-title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  background-color: lightgrey;
}

.learning_container-categories_container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
}

.learning_container-categories_container-category {
  width: 30%;
  margin-bottom: 2rem;
  background-color: white;
  display: inline-block;
}

.right-margin {
  margin-right: 2rem;
}

.learning_container-categories_container-category-mobile-container {
  display: none;
}

.learning_container-categories_container-category-desktop_container-category_container img {
  width: 100%;
  height: auto;
}

.learning_container-categories_container-category-desktop_container-category_container-text {
padding: 1rem 0 1.5rem 1rem;
}

.learning_container-categories_container-category-desktop_container-category_container h3 {
font-size: 1.3rem;
font-weight: bold;
margin-bottom: 1rem;
}

.learning_container-categories_container-category-desktop_container-category_container h4 {
font-weight: 300;
margin: 0.5rem 0;
}

.learning_container-categories_container-category-desktop_container-category_container p {
font-weight: 300;
}
